<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input id="name" mat-Input placeholder="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input id="price" mat-Input placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>
</mat-card>

<button id="button1" mat-raised-button (click)="createProduct()" color="primary">
    Salvar
</button>

<button id="button2" mat-raised-button (click)="cancelProduct()" >
    Cancelar
</button>
